body{margin-right:auto;} /* You probably want this to avoid wobbles. */

.yj-scroller-viewport { /* The dimension container */
  width:248px;
  overflow:hidden;
	position:relative;
}


.yj-scroller { /* Wide inner container to hide scrollbar */
  width:200%;
  overflow-x:hidden;
  overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
	zoom:1;
}

.yj-scroller-content{
  overflow-x:hidden;
}


.yj-mockscroll {
	display:none;
	
	height:20px;
	position:absolute;
	right:0px;
	top:0;
	padding:0 0 0 20px;
	cursor:default;
}

.yj-mockscroll-bar{
	background-color:#000;
	opacity:0.5;
	border-radius:5px;
	width:5px;
	height:100%;
}
