.yj-scroller-viewport { /* The dimension container */
  width:248px;
  overflow:hidden;
	position:relative;



}

.yj-scroller-viewport, .yj-scroller-viewport *{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	
}

.yj-scroller { /* Wide inner container to hide scrollbar */
  width:200%;
  overflow-x:hidden;
  overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
}


.yj-mockscroll {
	display:none;
	
	height:20px;
	position:absolute;
	right:0px;
	top:0;
	padding:0 0 0 20px;
	cursor:pointer;
}

.yj-mockscroll-bar{
	background-color:#000;
	opacity:0.5;
	border-radius:5px;
	width:5px;
	height:100%;
}